<% include partials/header %>
	<h1><%= title %>HELLO FROM INDEX 2EJS</h1>
	<h1>Add customer</h1>
	<ul>
		<% if(errors) { %>
			<% errors.forEach(function(error) { %>
				<li> <%= error.msg %></li>
			<% }) %>
		<% } %>
	</ul>
	<form method="POST" action="/users/add">
		<label>First Name</label>
		<input type="text" name="first_name">
		<br>
		<label>Last Name</label>
		<input type="text" name="last_name">
		<br>
		<label>Email</label>
		<input type="text" name="email">
		<br>
		<input type="submit" value="Submit">
	</form>


	<table id="customerTable" class="display" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Delete?</th>
				<th>Update?</th>
			</tr>
		</thead>
		<tbody>
			<% users.forEach(function(user) { %>
				<tr>
					<td><%= user.first_name %></td>
					<td><%= user.last_name %></td>
					<td><%= user.email %></td>
					<td><a href="#" class="deleteUser" data-id="<%= user._id %>">Delete</a></td>
					<td><a href="/users/update/<%= user._id %>" class="updateUser" data-id="<%= user._id %>">Update</a></td>
				</tr>
			<% }) %>
		</tbody>
	</table>
<% include partials/footer %>
